<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="de.babtec.manager.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.babtec.manager.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.babtec.manager.ExplorationPerspective"
            fixed="false"
            id="de.babtec.manager.perspective.explore"
            name="Project Exploration">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.babtec.manager.application"
            name="Manager">
         <property
               name="appName"
               value="Manager">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="aboutText"
               value="b.a.b-technologie Manager&#x0A;&#x0A;(c) Copyright b.a.b-technologie gmbh 2010.&#x0A;&#x0A;Visti http://www.bab-tec.de">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/intro.gif"
            id="de.babtec.manager.intro">
      </intro>
      <introProductBinding
            introId="de.babtec.manager.intro"
            productId="de.babtec.manager.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="de.babtec.manager.intro"
            content="introContent.xml"
            id="de.babtec.manager.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="de.babtec.manager.splashHandlers.ExtensibleSplashHandler"
            id="de.babtec.manager.splashHandlers.extensible">
      </splashHandler>
      <splashHandler
            class="de.babtec.manager.splashHandlers.BrowserSplashHandler"
            id="de.babtec.manager.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="de.babtec.manager.splashHandlers.InteractiveSplashHandler"
            id="de.babtec.manager.splashHandlers.interactive">
      </splashHandler>
   </extension>
   <extension
         point="de.babtec.manager.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
</plugin>
